DATABASE_URL=postgres://accounts:password@localhost:5435/postgres?sslmode=disable
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-west-2
LOG_LEVEL=debug
LOG_PRETTY=true
OPAQUE_SECRET_KEY=4355f8e6f9ec41649fbcdbcca5075a97dafc4c8d8eb8cc2ba286be7b1c938d05
OPAQUE_PUBLIC_KEY=98584585210c1f310e9d0aeb9ac1384b7d51808cfaf21b17b5e3dc8d35dbfb00
PASSWORD_AUTH_ENABLED=true
DEV_ENDPOINTS_ENABLED=true
