name: Checks
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres@sha256:163763c8afd28cae69035ce84b12d8180179559c747c0701b3cad17818a0dbc5
        env:
          POSTGRES_USER: accounts
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        volumes:
          - ${{ github.workspace }}:/github-workspace
        options: >-
          --name postgres
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Create additional DBs
      run: docker exec postgres psql -f /github-workspace/misc/create_additional_dbs.sql postgres://accounts:password@localhost/postgres
    - name: Setup golang
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: '1.25'
    - name: Generate swagger
      run: go install github.com/swaggo/swag/cmd/swag@latest && swag init --parseDependency
    - name: Install dependencies
      run: go get .
    - name: Lint
      uses: golangci/golangci-lint-action@9fae48acfc02a90574d7c304a1758ef9895495fa # v7.0.1
      with:
        version: v2.0
        args: --timeout=10m
    - name: Test
      run: go test -p 1 -v ./...
      env:
        TEST_DATABASE_URL: postgres://accounts:password@localhost/postgres?sslmode=disable
        TEST_KEY_SERVICE_DATABASE_URL: postgres://accounts:password@localhost/keys?sslmode=disable
